@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  overflow-x: hidden;
  cursor: default;
}

a {
  text-decoration: none;
  transition: 0.15s;
  color: inherit;
}

a:hover{
  opacity: 0.8;
}

button{
  background: transparent;
  border: 0;
  cursor: pointer;
}

h1{
  font-size: 2.5rem;
  font-weight: 500;
}
